{% extends 'base.html'%}
{% load static %}
{% block content%}

<!DOCTYPE html>
<head>
  <title>About Me</title>
  <style>
    body {
      text-align: center;
      background: url("/assets/anna-bg.png");
      background-size: cover;
      background-position:center;
      color: #000;
      font-family: helvetica;

    }
    p{
      font-size:22px;
    }
    input{
      border: 1px #000 solid;
      padding:10px;
      font-size:18px;
      border-radius:5px;
    }
    input[type="submit"]{
      color:white;
      background:red;

    }

  </style>
</head>
<body>
  <img class="rounded-circle" style="margin-top:20px;weight:20px" src="{% static 'assets/imgs/profile-pi.png'%}"><br>
  <h5>Boakye Julius Nana Acheampong</h5>
  <span class="badge badge-pill badge-primary">CEO Merch Perch Business,TsuMi</span><br>

  <small>This Blog was created by <strong>Boakye Julius</strong> the CEO of Merch Perch Business.This blog was built for the purpose of businesses online,
  the act of investments, Trading currencies,futures,indecies and stocks , also we talk about how to make money online and many more related to a legal way of making money online.
  Talking of forex trading, we post tutorials about how to get started and how to make money from the forex business and the world of cryptos, we give some tricks on how to go about trading currencies, we something give daily signals throug our telegram channel , we help you understand the
  forex market and how to make money from it , this website was also built to help you know how you can make an income on the internet with some few steps,
  The aim of the site is to make people know the type of online business they can do that can fetch them something decent online. Merch Perch is known to be
  an E-commerce platform, Merch Perch is into selling clothes, shoes, sneakers and many others, Merch Perch has introduced 3 business categories on its website
  which is yet to be launched, so in Merch Perch Business all users can be able to select between 3 business, namely Buy&Sell, Dropshipping and Importations,
  Merch Perch Business can be used as a side hustle which can generate income, The main reason for this blog is to post more online business content stay tune,
  you can ask questions too.</small>
  <input type="email" placeholder="Your email">
  <input type="submit">
</body>


{% endblock content %}