{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #e3e7eb;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-4">
    <h5 class="card-header">About Us</h5>
    <div class="card-body">
      <p class="card-text">
        This Blog was created by <strong>Boakye Julius</strong> the CEO of
        <strong>Merch Perch Business</strong>
        Merch Perch is known to be an E-commerce platform , Merch Perch is into
        selling of cloths, shoes, sneakers and many others, Merch Perch has
        introduced 3 business categories on its website which is yet to be
        launched, so in Merch Perch Business all users can be able to select
        between 3 business, namely Buy&Sell , Dropshipping and Importations,
        Merch Perch Business can be used as a side hustle which can generate
        income, The main reason for this blog is to post more online business
        content stay tune, you can ask questions too.
      </p>
      <a href="" class="btn btn-success">Know more!</a>
    </div>
  </div>
</div>

{% endblock sidebar %}
